@mixin image_main ($image_url){
    background-image: url("./image/#{$image_url}.jpg");
         background-size: cover;
         max-height: 800px;
         height: 100%;
         width: 80%;
         margin: 0 auto;
         margin-top: 5%;
         border-radius: 20px;
         background-repeat: no-repeat;
         background-position: center;
}

body {
    background-color: black;
    color: blanchedalmond;
}
.nav {
    
     padding-right: 6rem;
     padding-top: 0.5rem;
     color: blanchedalmond;  
     
     }
 .barrebas {
   text-align: center;
  
    .barrebas__link{
        
        display: inline-block;
        font-size: 1.3rem;
        padding-left: 1.5rem;
        border-bottom: solid black ;
        &:hover{
           
            border-bottom: solid ;
        }
          
    }
    
 }
 .barrehaut{
     
    &__logo{
        width: 4%;
    }
    &__logoecrit{
        width: 10%;
       
    }
    &__langue{
       
        width: 3%;
        
    }
    &__compte{
        width: 3%;
    }
    &__hotes{
       margin-left: 70%;
       

    }

 }
//  barre de recherche
 .searchbar {
    border-radius: 20px;
    background-color: blanchedalmond;
        
    width: 50%;
    height: 50px;
    margin: 0 auto;
    margin-top: 1%;
   
    &__case{
        display: inline-block;
        border-right: 2px solid black;
        min-height: 100%;
        height: 100%;
        width: 23%;
        color: gray;
        text-align: center;
        vertical-align: middle;
        &:last-child{
            border-radius: 0px 20px 20px 0px;
            border-right: none !important;
        }
        &:first-child{
            border-radius: 20px 0px 0px 20px;
        }
        
        &:hover{
            
            background-color:rgba(231, 231, 231, 0.733);
            border-right: 2px solid black;
            width: 23%;
        }
    }

 }
 .main{
    //  Les deux premieres images
     &__image1{
        @include image_main(image_1);
    }
    &__image2{
        @include image_main(image_2);
    }
    // les quatre images arrondi en quatre collones
    &__block {
        border-radius: 20px;
        background-color: blanchedalmond;
        width: 20%;
        height: 50%;
        margin: 0 auto;
        margin-top: 3%;
        display: inline-block;
        &:first-child{
            margin-left: 10%;
        }
        &--img{
            border-radius: 20px 20px 0px 0px;
            width: 100%;
        }

    }
 }
//  donne la couleur rouge au classe qui l'appelle
 .rouge{
     background-color: red;
 }
//  donne la couleur violet au classe qui l'appelle
 .violet{
     background-color: rgba(255, 0, 106, 0.733);
 }