body {
  background: linear-gradient(black 0 65%, rgb(0, 0, 0) 65% 66%,white 66% 67% );
  color: blanchedalmond;
}

.nav {
  padding-right: 6rem;
  padding-top: 0.5rem;
  color: blanchedalmond;
  
}
/* premiere barre de navigation
 avec logo */
.barrehaut {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.barrehaut__hotes {
  padding-left: 72%;
  align-self: center;
}
.barrehaut__logo {
  width: 4%;
}
.barrehaut__logoecrit {
  width: 10%;
}
.barrehaut__langue {
  width: 3%;
}
.barrehaut__compte {
  width: 3%;
}

/* la barre en dessous ou il y'a uniquement les 
textes en lien hypertextes */
.barrebas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.barrebas__link {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  border-bottom: solid black;
}
.barrebas__link:hover {
  border-bottom: solid;
}

/* barre de recherche */
.searchbar {
  border-radius: 20px;
  background-color: blanchedalmond;
  width: 75%;
  height: 50px;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.searchbar__case {
  
  min-height: 100%;
  height: 100%;
  width: 23%;
  color: gray;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}
.searchbar__case:last-child {
  border-radius: 0px 20px 20px 0px;
  border: none;
  background: none;
  width: 5%;
  justify-content: center;
  
}
.searchbar__case:last-child:hover {
  width: 5%;
}
.searchbar__case:first-child {
  border-radius: 20px 0px 0px 20px;
}
.searchbar__case:hover {
  background-color: rgba(231, 231, 231, 0.733);
  
  width: 23%;
}
.searchbar__case--img {
  width: 40px;
  background-color: red;
  border-radius: 20px;
}
/* icone de la deuxieme barre de recherche pour mobile */
.searchbar__case--img2 {
  width: 30px;
  background-color: none;
  margin-left: -10px;
  
}
.searchbar__responsive
{
  display: none !important;
}
/* les deux premieres images avec des arrondi */
.main__image1 {
  background-image: url("./image/image_1.jpg");
  background-size: cover;
  max-height: 800px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  text-shadow: blanchedalmond;
}
.main__image2 {
  background-image: url("./image/image_2.jpg");
  background-size: cover;
  max-height: 800px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  text-shadow: rgb(90, 89, 88);
}
.main1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}
.main__block {
  border-radius: 20px;
  background-color: blanchedalmond;
  width: 240px;
  height: 320px;
  margin-top: 3%;
 
}

.main__block--img {
  border-radius: 20px 20px 0px 0px;
  width: 240px;
}

.rouge {
  background-color: red;
}

.violet {
  background-color: rgba(255, 0, 106, 0.733);
}

.main__image1--btn {
  max-width: 50%;
  border-radius: 20px;
  border: none;
}
.main__image1--btn:hover {
  background-color:lightsteelblue;
}
/* Pour les écran et les viewport de moins de 780px */
@media screen and (max-width: 780px){
  
  .barrehaut{
    position: fixed;
    top: 0px;
    background-color: black;
    
  }
  .barrebas{
    display: none;
  }
  .barrehaut__compte, .barrehaut__langue, .barrehaut__compte, .barrehaut__hotes {
    display: none;
  }
  .searchbar{
   display: none;
  }
  .searchbar__responsive 
  {
  display: flex !important;
  position: fixed !important;
  top : 20px;
  background-color: black;
  } 
  .barrehaut__logo {
    display: flex;
    justify-content: center;
    min-width: 20px;
    width: 4%;
  }
  .barrehaut__logoecrit {
    min-width: 40px;
    
  }
  .main1{
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=styles.css.map */
